.remember {
  display: inline;
  font-size: 1rem;
}

.register-links {
  position: absolute;
  width: 100%;
  text-align: center;
}

.register-links p {
  margin: 0 12px;
  display: inline;
}

.register-links p:hover {
  cursor: pointer;
}

@media all and (min-height: 600px) {
  .register-links {
    bottom: 5vh;
  }
}

@media all and (min-width: 932px) {
  .register-links {
    width: 50%;
  }
}
