.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-content {
  background-color: white;
  width: 50%;
  margin: 20vh auto;
  padding: 24px 24px 3px;
  border-radius: 10px;
}

.close-icon {
  font-size: 1.5rem;
  margin-right: 12px;
  float: right;
}
